<div class = "navbar">
    <ul class = "navlist">
        <li class = "navitem">
            <a class = "navlink" routerLink="home">
                <img id = "logo" src = "https://github.com/havelpot/p2-Vanquish-Hub/blob/main/Poke-Pictionary/LocalPictures/pokemon2.jpg">
            </a>
        </li>
        <li class = "navitem">
            <!-- router link pokemon refers to poke-pictures -->
            <a class = "navlink" routerLink="app-art-work">
               Play Game
            </a>
        </li>
             <li class = "navitem">
            <a class = "navlink" routerLink="pokemon">
                Pokémon to Draw
            </a>
        </li>
         
        <li class="navitem">
            <button id="add-button" (click) = "navigateLogin()">Login</button>
        </li>
    </ul>
</div>