<div class = "navbar">
    <ul class = "navlist">
        <li class = "navitem">
            <a class = "navlink" routerLink="home">
                <img id = "logo" src = "https://oyster.ignimgs.com/wordpress/stg.ign.com/2019/03/10-Xerneas.png" height="60" width="60">
            </a>
        </li>
        <li class = "navitem">
            <!-- router link pokemon refers to poke-pictures -->
            <a class = "navlink" routerLink="app-art-work">
               Play Game
            </a>
        </li>
             <li class = "navitem">
            <a class = "navlink" routerLink="pokemon">
                Pokémon to Draw
            </a>
        </li>
         
        <li class="navitem">
            <button id="add-button" (click) = "navigateHome()">Home</button>
            <button id="add-button" (click) = "navigateArtwork()">Artwork</button>
            <button id="add-button" (click) = "navigateLogin()">Login</button>
            <button id="add-button" (click) = "navigateRegister()">Register</button>
        </li>
    </ul>
</div>