<div class = "navbar">
    <ul class = "navlist">
        <li class = "navitem">
            <a class = "navlink" routerLink="home">
                <img id = "logo" src = "https://comicvine.gamespot.com/a/uploads/scale_small/2/22300/451004-untitled.jpg" height="60" width="60">
            </a>
        </li>
        <li class = "navitem">
            <!-- router link pokemon refers to poke-pictures -->
            <a class = "navlink" routerLink="pokemon">
                All Available Pokemon to Draw
            </a>
        </li>
       Adding new secret Item 
        <li class = "navitem">
            <a class = "navlink" routerLink="secret">
                Secret
            </a>
        </li>
         Changing to login 
        <li class="navitem">
            <button id="add-button" (click) = "navigateLogin()">Login</button>
        </li>
    </ul>
</div>