<!-- <div class ="background"> -->
<div class = "home-page">
    <div class = "home-message">
        <h1>{{welcomeMessage | titlecase }}</h1>
    <!--    <img src="https://img.pokemondb.net/sprites/sun-moon/shiny/incineroar.png"> 
        <p> Learn More about this Pokémon ? <p><button> Pokédex </button>
        <img src = "https://pokemondb.net/pokedex/incineroar"> 
        --> 
        <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiWuFb5vPSv7EAN-oaMjRA4ZBDKX7f7uaguQ&usqp=CAU">
        <p> Poke Pictionary! </p> 
    
    </div>
</div>